<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes voyages{% endblock %}</title>
        
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        {% extends "base.html.twig" %}}
        
        {% block body %}
        <h1>Page d'accueil</h1>
        {% endblock %}
    </body>
</html>
